@import "../styles/variables";
@import "../styles/mixins";

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid $twitter-background;

  &__avatar {
    padding: 2rem;

    @include respond(phone) {
      padding: 1rem 0.5rem;
    }
  }

  &__body {
    flex: 1;
    padding: 2rem;
    padding-left: 0;
    width: 100%;
    @include respond(phone) {
      padding: 1rem;
    }
  }
  &__badge {
    margin: 0 0.3rem;
    font-size: 2rem !important;
    color: $twitter-color;
  }
  &__headerText > h3 {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__headerSpan {
    font-weight: 700;
    font-size: 1.2rem;
    color: #888;
  }

  &__headerDescription {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__img {
    max-width: 65rem;
    display: flex;
    margin: 2rem auto;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

    & > img {
      width: 100%;
      border-radius: 2rem;
    }
  }

  &__footer {
    margin-left: auto;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;

    &__icons {
      font-size: 2rem !important;
      cursor: pointer !important;
      border-radius: 50%;
    }
  }
}
.icon {
  &__comment:hover {
    color: $twitter-color;
  }
  &__retweet:hover {
    color: rgb(75, 216, 75);
  }
  &__like:hover {
    color: rgb(233, 48, 48);
  }
  &__share:hover {
    color: $twitter-color;
  }
}
