@import "../styles/variables";
@import "../styles/mixins";

.tweetbox {
  position: relative;
  border: 1px solid $twitter-background;
  border-top: none;
  border-bottom: 1rem solid $twitter-background;
  padding: 1rem 2rem;
  display: flex;

  @include respond(phone) {
    padding: 1rem;
  }
  &__avatar {
    position: absolute;
    top: 1rem;
  }
}
