@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./styles/variables.scss";

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  height: 100vh;
  max-width: 130rem;
  margin: 0 auto;
}
